<TABLE CLASS="edist" BORDER="1" CELLSPACING="2" CELLPADDING="2">
  <% @matrix.each_with_index { |row,row_idx| -%>
    <TR>
      <% row.each_with_index { |cell,cell_idx| -%>
        <TD CLASS="<%= cell[:hit] ? 'hit' : 'miss' %>"><%= cell[:cost] %>:<%= cell[:left] %>:<%= cell[:right] %></TD>
      <% } -%>
    </TR>
  <% } -%>
</TABLE>
