<H1>Fuzzy String Interactive Examples</H1>

<P>
Try one of the links below.
</P>

<UL>
  <LI> <A HREF="/index/edist">Edit Distance</a> </LI>
  <LI> <A HREF="/index/brew">Brew Edit Distance</a> </LI>
</UL>
