<H1>Fuzzy String Interactive Examples</H1>

<P> This is a sandbox and a visualization that allows you to interact
with the <a href="http://en.wikipedia.org/wiki/Edit_distance">Edit
Distance</a> and <a
href="http://www.ling.ohio-state.edu/~cbrew/795M/string-distance.html">Text
Brew</a> string similiarty metrics.  Included for reference are also a
handful of phonetic encodings: Soundex, Nysiis and Double
Metaphone. </P>

<P>

</P>

<UL>
  <LI> <A HREF="/index/edist">Edit Distance</a> </LI>
  <LI> <A HREF="/index/brew">Brew Edit Distance</a> </LI>
</UL>
