.hit {
  font-weight: bold;
  font-style: italic;
  border-width: 3px;
}

.miss {
  // background-color: #F77
}

.phonetic_hit {
  background-color: #7F7
}

.phonetic_miss {
  background-color: #F77
}

.brew_path {
  font-weight: bold;
  font-style: italic;
  border-width: 3px;
}